<!DOCTYPE html>

<html>
  <head>
    <title>Express movies</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
      <% include ./partials/header %>
    
    <h1>Express movies</h1>
    <p>
      blablablaaaauuuu
    </p>


    <% include ./partials/footer %>
  </body>
</html>