<!DOCTYPE html>

<html>
  <head>
    <title>Express movies</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    
    <h1>Express details movie</h1>
    
    <p>
      blablabla details du film <%= movieId %>
    </p>

    <% include ./partials/footer %>
  </body>
</html>